@import "tailwindcss";

@theme {
  --color-emerald-200: #e2ffab;
  --color-emerald-400: #c3ff5c;
  --color-emerald-500: #b3ff38;
  --color-emerald-600: #9ae02b;
  --color-emerald-950: #0f1e00;
}
body {
  background-color: #09090b; 
  color: #e4e4e7; 
}